/* 修改文章正文字体颜色 */
.post-body, .article-content, .post-content {
  color: #000000;
}
/* 修改正文中的超链接颜色 */
.post-body a, .article-content a, .post-content a {
  color: #ED6BC0;
}

/*::selection {
  background-color: #FFD700;
  color: #000000;            
}*/